.conteudo {
	-fx-background-color: #000;
	-fx-font-family: Oswald; 
	
}

.titulo {
	-fx-text-fill: #84adc4;
	-fx-font-size: 36px;
}

.numero {
	-fx-text-fill: #eee;
	-fx-font-size: 28px;
}	